<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69411193455-ldthg6qsp33o12fk11b9q4bgf5btisoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69411193455-ldthg6qsp33o12fk11b9q4bgf5btisoh</string>
	<key>API_KEY</key>
	<string>AIzaSyACmTCiSC9nIvBA6iiG4weM7BumgXfAKc8</string>
	<key>GCM_SENDER_ID</key>
	<string>69411193455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.devangpatel.Asepsis</string>
	<key>PROJECT_ID</key>
	<string>asepsis-54f36</string>
	<key>STORAGE_BUCKET</key>
	<string>asepsis-54f36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69411193455:ios:7245726670a991ea90439a</string>
	<key>DATABASE_URL</key>
	<string>https://asepsis-54f36.firebaseio.com</string>
</dict>
</plist>